Labo 1*
*Thumbs.db
*.DS_Store
*bin*
*obj*
*.depend
*.cbp
*.mk
*.dist
*.bash
*.xml
Labo 2/Sources/Lab 2 - Ex 1/build/
Labo 2/Sources/Lab 2 - Ex 1/dist/
Labo 2/Sources/Lab 2 - Ex 3/build/
Labo 2/Sources/Lab 2 - Ex 3/dist/
Labo 2/Sources/Lab 2 - Ex 2/build/
Labo 2/Sources/Lab 2 - Ex 2/dist/
Labo 2/Sources/Lab 2 - Ex 1/nbproject/
Labo 2/Sources/Lab 2 - Ex 2/nbproject/
Labo 2/Sources/Lab 2 - Ex 3/nbproject/
